@font-face {
  font-family: 'Formular';
   src: local('Formular'),
    local('Formular-Medium'),
     url('Formular.otf');
}

html, body {
  width:100%;
  height:100%;
  overflow:hidden;
  position:fixed;
  margin:0;
  padding:0;
  font-family: 'Formular', Helvetica, Arial;

}

.nav {
  position: fixed;
  width: auto;
  line-height: 100px;
  height: 100px;
  text-align: right;
  right: 8%;
}

#navlink {
  font-size: 24px;
  font-weight: normal;
  text-transform: lowercase;
  padding: 10%;
  margin-left: 10%;
  text-align: right;
  background-color: white;
  outline-style: solid;
  outline-width: 2px;
  outline-color: #gray;
}


.column {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-block;
  height: 100%;
  overflow: scroll;
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
}

#column1 {
  background-color: white;
  width: 40%;
}

#column2 {
  background-color: white;
  width: 60%;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  outline-style: solid;
  outline-width: 2px;
  outline-color: black;
  outline-offset: -1px;
}

#HCB_comment_box {
  padding-left: 8%;
  padding-right: 8%;
}

.fullimg {
  width: 100%;
  padding: 0 0 0 0;
}

.previewimg{
  width: 86%;
  padding: 8% 0 8% 8%;
}

#imgoutline{
  outline-width: 2px;
  outline-color: gray;
}

h1, h2,h3, p, a {
  padding-left: 8%;
  padding-right: 8%;
}


h1{
  font-size: 50px;
  display: inline-block;
  font-weight: normal;
  color: black;
}

h2 {
  font-size: 22px;
  font-weight: 600;
  color: black;
}

h3 {
  font-size: 22px;
  font-weight: normal;
  color: black;
  line-height: 1.3;
}

p{
  font-size: 16px;
  font-weight: 300;
  font-weight: regular;
  line-height: 1.3;
}

a {
  font-size: 15px;
  font-weight: 500;
  color: #4200FF;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}
